spring:
  application:
    name: shen-ai-agent
  profiles:
    active: local
# http://localhost:8777/api/doc.html#/home
server:
  port: 8777
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.chuanlong.shenaiagent.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
